lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
images/markers
images/avatars
firefile.config.php
dump.rdb
wds-start.sh
images/race_submissions
firefile.config.php
dump.rdb
wds-start.sh
TASKS.md
.DS_Store
builtAssets

# vim swap files
*.swp
