lib-cov
*.seed
*.sql
*.log
*.csv
*.dat
*.out
*.pid
__logs
*.gz

deploy
Vagrantfile
pids
logs
results

npm-debug.log
node_modules
images/markers
images/avatars
firefile.config.php
dump.rdb
wds-start.sh
images/race_submissions
firefile.config.php
dump.rdb
wds-start.sh
TASKS.md
.DS_Store
builtAssets
.vagrant
#Test processor
app/processors/tester.coffee

# vim swap files
*.swp
