div(id="academy-{{ event_id }}", class="academy-box", data-academy_id="{{ event_id }}")
	a(class="button" href="/academy/{{ slug }}" target="_blank") View Details
	h4(class="academy-title") {{ what }}
