div(class="attendee-selector-shell")
	div(class="attendee-selector-selected")
	div(class="attendee-selector-controls")
			a(href="#", class="attendee-selector-add") Add {{ atn_type_w_a }}
	input(type="hidden", value="{{ selected }}", class="attendee-selector-inp")
	input(type="hidden", value="{{ bios }}", class="attendee-selector-bios", name="bios")
