div(class="broadcast-box")
	a(href="#", class="broadcast-box-close")
	a(href="/broadcasts", class="broadcast-show-all") Show All
	div(class="broadcast-area")
		a(href="{{ url }}")
			h3 {{ headline }}
			span(class="broadcast-date") {{ date }}

