div(class="modal-panel modal-panel-start cnct-start modal-panel-active")
	h2 Join Us at WDS!
	h3 Have you attended WDS before?
	p If you've been there with us in the past, we'll connect to your existing account.
	div(class="modal-big-btn-shell")
		a(class="button cnct-login show-panel", data-panel="login") Yup, let's connect my account!
		a(class="button cnct-new-account show-panel", data-panel="buy") It's my first time!
div(class="modal-panel modal-panel-login")
	h2 Login to Your Account
	h3 Connect Your Account
	div(class="login-error")
		| Hm, seems like your login information isn't quite right. Give it another try!
	p Use your email address or WDS username to login below.&nbsp;&nbsp;
		a(href="forgot-password", target="_blank") Forgot your password?
	form(action="#", method="post", id="login-form")
		div(class="form-row")
			label E-Mail Address or Username
			input(type="text", name="username")
		div(class="form-row")
			label Password
			input(type="password", name="password")
		div(class="form-row")
			input(type="submit", value="Login")
div(class="modal-panel modal-panel-buy")
	h2 Let's Do This!
	div(class="cnct-process-shell")
		div Hang tight, we're processing your payment!
	form(action="#", method="post", id="purchase-form")
		div(class="cnct-ticket-sale")
			div(class="cnct-product-name") WDS Connect Ticket
			div(class="cnct-total")
				$147
			div(class="cnct-quantity")
				select(class="select2", data-width="80px", name="quantity", data-search="false")
					option("1") 1
					option("2") 2
					option("3") 3
		div(class="clear")
		div(class="cc-error")
		div(class="if-no-user form-row")
			div(class="form-box")
				label First Name
				input(type="text", name="first_name")
			div(class="form-box")
				label Last Name
				input(type="text", name="last_name")
		div(class="if-no-user form-row")
			div(class="form-box")
				label E-Mail Address
				input(type="text", name="email")
		div(class="form-row")
			label Credit Card Number
			input(type="text", data-stripe="number")
		div(class="form-row")
			div(class="form-box")
				label Exp. Month
				select(class="select2", data-width="100px", data-stripe="exp-month", data-search="false")
					option("1") 1
					option("2") 2
					option("3") 3
					option("4") 4
					option("5") 5
					option("6") 6
					option("7") 7
					option("8") 8
					option("9") 9
					option("10") 10
					option("11") 11
					option("12") 12
			div(class="form-box")
				label Exp. Year
				select(class="select2", data-width="125px", data-stripe="exp-year", data-search="false")
					option("2016") 2016
					option("2017") 2017
					option("2018") 2018
					option("2019") 2019
					option("2020") 2020
					option("2021") 2021
					option("2022") 2022
					option("2023") 2023
					option("2024") 2024
					option("2025") 2025
		div(class="form-row")
			div(class="form-box")
				label Billing Zip Code
				input(type="text", class="cc-inp-zip", data-stripe='zip')
			div(class="form-box")
				label CVV
				input(type="text", data-stripe="cvc", class="cc-inp-cvv")
		div(class="form-row form-section")
			input(type="submit", value="Purchase Tickets")
div(class="modal-panel modal-panel-completetickets")
	h2 Complete Your Tickets
	h3 Who are these tickets for?
	p(class="ticket-descr-status")
	div(class="ticket-assign-shell")
div(class="modal-panel modal-panel-done")
	h2 Mission Accomplished
	h3 You did it! Now let's setup your WDS Account.
	p
		br
		| Your WDS Connect Ticket is confirmed!
	p Ready to setup your WDS Account so you can start
		| connecting with your fellow attendees?
		br
		br
	a(href="/welcome", class="button done-button") Let's Do This!
