div(class="dispatch-controls")
	form(class="dispatch-post-form", method="post", action="#")
		textarea(class='dispatch-post-inp', name="content", placeholder="Share a message with the WDS Community")
		div(class='dispatch-control-details')
			input(type='submit', class='button', value="Post")
div(class="dispatch-feed")	
	div(class="dispatch-loading")