div(class="entry-shell")
	div(class="entry-stats")
		div(class="entry-img-shell")
			img(src="{{ gravatar }}", class="entry-gravatar")
		div(class="entry-by")
			| {{ byline }}
		div(class="entry-date")
			| {{ date }}
	div(class="entry-text")
		{{ entry_text }}
