div(class="schedule-row {{ event_class }}")
	div(class="schedule-top")
		div(class="schedule-time") {{ time }}
		div(class="schedule-place") {{ place }}
		a(href="{{ directions_link }}" target="_blank" class="schedule-directions")
	div(class="schedule-main")
		div(class="schedule-what") {{ what }}
	div(class="schedule-extra") {{ hosts }} {{ note }}
