div(id="speaker-{{ speakerid }}", class="speaker-box")
	a(href="{{ speaker_url }}", class="speaker-avatar", style="background:url({{ display_avatar }})") 
	a(href="{{ speaker_url }}", class="speaker-name") {{ display_name }}
	div(class="speaker-description") {{ descr }}
