div(id="speakers-admin-shell")
	nav(class="admin-nav")
		a(href="/admin/add-academy", class="button") Add an Academy
	h1 Academies
	div(id="schedule-start", class="search-start")
		| Loading...
	table(id="schedule-shell", class="search-results-shell")
		tbody(id="schedule-results", class="search-results")
