div(id="user-manifest-shell")
	h1 Add a Place
		a(href="/admin/places", class="button") Back to Places
	h3 Place Info
	form(id="admin-add-place", method="post", action="#")
		div(class="form-section")
			div(class="form-box")
				label Name
				input(name="name", type="text")
			div(class="form-section")
				div(class="form-box")
					label Address
					input(type="text", name="address")
			div(class="form-section")
				div(class="form-box")
					label Picked By (Name, Role)
					input(name="pick", type="text")
			div(class="form-section")
				div(class="form-box")
					label Description
					textarea(name="descr", id="place-descr-textarea")
			div(class="form-section")
				div(class="form-box")
					label Type
					input(name="place_type", style="width:240px", id="place-type-select")
			div(class="clear")
			div(class="form-section")
				input(type="submit", value="Add Place", class="button")