div(id="user-manifest-shell")
	h1 Add an Attendee
		a(href="/admin/manifest", class="button") Back to Manifest
	h3 Attendee Info
	form(id="admin-add-user", method="post", action="#")
		div(class="form-section")
			div(class="form-box")
				label First Name
				input(name="first_name", type="text")
			div(class="form-box")
				label Last Name
				input(name="last_name", type="text")
			div(class="form-section")
				div(class="form-box")
					label E-Mail Address
					input(type="text", name="email")
			div(class="form-section")
				div(class="form-box")
					label Description
					input(type="text", name="descr")
			div(class="form-section")
				div(class="form-box")
					label Year
					input(type="text", name="year", value="2014")
			div(class="clear")
			div(class="form-section")
				input(type="hidden", name="attending14", value="1")
				input(type="submit", value="Add Attendee", class="button")
