div(id="admin-add-event-shell")
	h1 Add a Race Task
		a(href="/admin/racetasks", class="button") Back to Race Tasks
	form(id="admin-add-racetask", method="post", action="#")
		div(class="form-section")
			div(class="form-box")
				label Task
				input(name="task", type="text")
		div(class="form-section")
			label Section
			input(name="section", type="text")
		div(class="form-section")
			label Type
			div(class="form-box")
				select(name="type", class="select2", style="width:120px")
					option(value="photo") Photo
					option(value="video") Video
					option(value="auto") Automatic
		div(class="form-section")
			label Points
			input(name="points", type="number", max="50", min="1", value="1")
		div(class="form-section")
			label Max Usage Per Attendee
			input(name="attendee_max", type="number", max="50", min="1", value="1")
		div(class="form-section")
			label Max Usage Overall (Zero is unlimited)
			input(name="global_max", type="number", max="50", min="0", value="0")
		div(class="form-section")
			label Extra Note/Explanation
			textarea(name="note")
		div(class="clear")
		div(class="form-section")
			input(type="submit", value="Add Task", class="button")
