div(id="user-manifest-shell")
	h1 Add an Attendee
		a(href="/admin/manifest", class="button") Back to Manifest
	h3 Attendee Info
	form(id="admin-add-user", method="post", action="#")
		div(class="form-section")
			div(class="form-box")
				label First Name
				input(name="first_name", type="text")
			div(class="form-box")
				label Last Name
				input(name="last_name", type="text")
			div(class="form-section")
				div(class="form-box")
					label E-Mail Address
					input(type="text", name="email")
			div(class="form-section")
				div(class="form-box")
					label Country
					input(type="hidden", name="country", id="country-select", value="US")
			div(class="form-section")
				div(class="form-box")
					label Address
					input(type="text", name="address")
				div(class="form-box")
					label Address 2
					input(type="text", name="address2")
			div(class="form-section")
				div(class="form-box")
					label City
					input(type="text", name="city")
				div(class="form-box")
					dive(id="region-shell")
			div(class="form-section")
				div(class="form-box")
					label Zip
					input(type="text", name="zip")
			div(class="form-section")
				div(class="form-box")
					label Type
					select(name="type", class="select2", style="width:140px")
						option(value="attendee") Attendee
						option(value="ambassador") Ambassador
						option(value="staff") Staff
						option(value="speaker") Speaker
				div(class="form-box")
					label Ticket Type
					select(name="ticket_type", class="select2", style="width: 300px")
						option(value="360") 360
						option(value="connect") Connect
			div(class="clear")
			div(class="form-section")
				input(type="submit", value="Add Attendee", class="button")