div(id="admin-add-event-shell")
	h1 Add an Event
		a(href="/admin/schedule", class="button") Back to Schedule

	p All events should have a venue and address
	p Activities and Spark Sessions should also have a description, who it's for, venue notes (if relevant) and RSVP max (if there is one)
	form(id="admin-add-event", method="post", action="#")
		div(class="form-section")
			label Event Type
			div(class="form-box")
				select(name="type", class="select2", style="width:150px")
					option(value="program") WDS Program Event (No RSVP)
					option(value="registration") Registration (No RSVP)
					option(value="spark_session") Spark Session (RSVP)
					option(value="activity") Activity (RSVP)
		div(class="form-section")
			div(class="form-box")
				label Event Name
				input(name="what", type="text")
		div(class="form-section")
			label Venue Name
			input(name="place", type="text")
		div(class="form-section")
			label Address
			input(name="address", type="text")
		div(class="form-box")
			label Any Special Notes About the Venue/Location
			input(type="text", name="venue_note")
		div(class="form-section")
			label Description
			textarea(name="descr")
		div(class="form-section")
			label Who It's For
			textarea(name="who")
		div(class="form-section")
			label Event Start
			div(class="form-box")
				select(name="date", class="select2", style="width:250px")
					option(value="08") Monday, August 8th
					option(value="09") Tuesday, August 9th
					option(value="10") Wednesday, August 10th
					option(value="11") Thursday, August 11th
					option(value="12") Friday, August 12th
					option(value="13") Saturday, August 13th
					option(value="14") Sunday, August 14th
					option(value="15") Monday, August 15th
					option(value="16") Tuesday, August 16th
			div(class="form-box")
				select(name="hour", class="select2", style="width:120px")
					option(value="01") 01
					option(value="02") 02
					option(value="03") 03
					option(value="04") 04
					option(value="05") 05
					option(value="06") 06
					option(value="07") 07
					option(value="08") 08
					option(value="09") 09
					option(value="10") 10
					option(value="11") 11
					option(value="12", selected="selected") 12
				select(name="minute", class="select2", style="width:65px")
					option(value="00") 00
					option(value="15") 15
					option(value="30") 30
					option(value="45") 45
				select(name="pm", class="select2", style="width:65px")
					option(value="0") am
					option(value="12", selected="selected") pm
		div(class="form-section")
			label How many people can attend?
			label(class="sub-label") We'll close the event after it has this many RSVPs
			input(type="number", name="max", min="1", max="5000")
		div(class="form-section")
			label For Ticket Type
			div(class="form-box")
				select(name="for_type", class="select2", style="width:150px")
					option(value="all") All
					option(value="360") 360 Only
					option(value="connect") Connect Only
		div(class="form-section")
			label Publicly Visible
			div(class="form-box")
				select(name="include_full", class="select2", style="width:120px")
					option(value="1") Yes
					option(value="0") No
		div(class="clear")
		div(class="form-section")
			input(type="submit", value="Add Event", class="button")
