div(id="ambassadors-shell")
  h2 WDS Ambassador Review
  //input(type="text", class="ambassador-search", placeholder="Search Ambassador by name or email")
  div(id="ambassador-start", class="search-start")
    | Loading...
  table(id="ambassador-review-results-shell", class="search-results-shell")
    tbody(id="ambassador-review-results", class="search-results")
