div(id="ambassadors-shell")
  h1 WDS Ambassadors
  //input(type="text", class="ambassador-search", placeholder="Search Ambassador by name or email")
  div(id="ambassador-start", class="search-start")
    | Loading...
  table(id="speaker-results-shell", class="search-results-shell")
    tbody(id="speaker-results", class="search-results")
