div(id="events-shell")
  h2 WDS Event Review
  //input(type="text", class="event-search", placeholder="Search event by name or email")
  div(id="event-start", class="search-start")
    | Loading...
  table(id="event-review-results-shell", class="search-results-shell")
    tbody(id="event-review-results", class="search-results")
