div(id="manifest-shell")
	nav(class="admin-nav")
		a(href="/admin/add-attendee", class="button") Add an Attendee
	input(type="text", class="manifest-search", placeholder="Search Attendees by name, email or username")
	div(id="manifest-start")
		| Type an attendees name, email or username above to begin
	table(id="manifests-results-shell")
		tbody(id="manifest-results")
