div(id="manifest-shell")
	nav(class="admin-nav")
		a(href="/api/admin/user_export", class="button") Export to CSV
		a(href="/admin/add-attendee", class="button") Add an Attendee
	h1 WDS Manifest
	input(type="text", class="manifest-search", placeholder="Search Attendees by name, email or username")
	div(id="manifest-start")
		| Loading...
	table(id="manifests-results-shell")
		tbody(id="manifest-results")
