div(id="manifest-shell")
	input(type="text", class="manifest-search", placeholder="Search Attendees by name, email or username")
	div(id="manifest-start")
		| Type an attendees name, email or username above to begin
	table(id="manifests-results-shell")
		thead
			tr
				th Name
				th E-Mail 
				th Username
				th Twitter
		tbody(id="manifest-results")
		tfoot
			tr
				th Name
				th E-Mail 
				th Username
				th Twitter
