div(id="meetups-shell")
  h2 WDS Meetups
  div(id="event-start", class="search-start")
    | Loading...
  table(id="event-review-results-shell", class="search-results-shell")
    tbody(id="event-review-results", class="search-results")
