div(id="admin-add-meetup-shell")
	h1 {{ what }}
		a(href="/admin/meetup-review", class="button") Back to Meetup Review
	form(id="admin-meetup-update", method="post", action="#")
		div(class="form-section")
			div(class="form-box")
				label Meetup Name
				input(name="what", type="text", value="{{ what }}")
		div(class="form-section")
				label What type of meetup will this be?
				div(class="form-box")
					select(name="format", class="select2", style="width:360px")
						option(value="service") Service: (Contribute Together)
						option(value="discover") Discover: (Class/Workshop)
						option(value="network") Network: (Hangout/Collaborate)
						option(value="experience") Experience: (Adventure/Activity)
		div(class="form-section")
			label Venue Name
			input(name="place", type="text", value="{{ place }}")
		div(class="form-section")
			label Address
			input(name="address", type="text", value="{{ address }}")
		div(class="form-box")
			label Any Special Notes About the Venue/Location
			input(type="text", name="venue_note", value="{{ venue_note }}")
		div(class="form-section")
			label Description
			textarea(name="descr") {{ descr }}
		div(class="form-section")
			label Who It's For
			textarea(name="who") {{ who }}
		div(class="form-section")
			label Event Start
			div(class="form-box")
					select(name="date", class="select2", style="width:250px", data-search="0")
					option(value="11") Tuesday, July 11th
					option(value="12") Wednesday, July 12th
					option(value="13") Thursday, July 13th
					option(value="14") Friday, July 14th
					option(value="16") Saturday, July 15th
					option(value="18") Sunday, July 16th
					option(value="19") Monday, July 17th
					option(value="20") Tuesday, July 18th
			div(class="form-box")
				select(name="hour", class="select2", style="width:120px")
					option(value="01") 01
					option(value="02") 02
					option(value="03") 03
					option(value="04") 04
					option(value="05") 05
					option(value="06") 06
					option(value="07") 07
					option(value="08") 08
					option(value="09") 09
					option(value="10") 10
					option(value="11") 11
					option(value="12") 12
				select(name="minute", class="select2", style="width:65px")
					option(value="00") 00
					option(value="15") 15
					option(value="30") 30
					option(value="45") 45
				select(name="pm", class="select2", style="width:65px")
					option(value="0") am
					option(value="12") pm
		div(class="form-section")
			label Ends At
			div(class="form-box")
					select(name="end_hour", class="select2", style="width:120px")
						option(value="01") 01
						option(value="02") 02
						option(value="03") 03
						option(value="04") 04
						option(value="05") 05
						option(value="06") 06
						option(value="07") 07
						option(value="08") 08
						option(value="09") 09
						option(value="10") 10
						option(value="11") 11
						option(value="12", selected="selected") 12
					select(name="end_minute", class="select2", style="width:65px")
						option(value="00") 00
						option(value="15") 15
						option(value="30") 30
						option(value="45") 45
					select(name="end_pm", class="select2", style="width:65px")
						option(value="0") am
						option(value="12", selected="selected") pm
		div(class="form-section")
			label How many people can attend?
			label(class="sub-label") We'll close the meetup after it has this many RSVPs
			input(type="number", name="max", min="1", max="5000", value="{{ max }}")
		div(class="form-section")
			label Accepted
			div(class="form-box")
				select(name="active", class="select2", style="width:120px")
					option(value="1") Yes
					option(value="0") No
		div(class="form-section")
				label Provide a brief outline of the agenda for this event:
				textarea(name="outline", class="meetup-descr-inp") {{ outline }}

		div(class="clear")
		div(class="form-section")
			input(type="hidden", name="event_id", value="{{ event_id }}")
			input(type="submit", value="Save Event", class="button")
