div(id="events-shell")
  h2 Send a Push Notification
  p
    | Send a Push Notification below. Please be careful. :)
  form(id="admin-confirm-notification", method="post", action="#")
    div(class="form-section")
      label Test Run
      div(class="form-box")
        select(name="test", class="select2", style="width:220px")
          option(value="yes") Yes
          option(value="no") No, do it live!
    div(class="form-section")
      label Device Type
      div(class="form-box")
        select(name="device", class="select2", style="width:120px")
          option(value="all") All
          option(value="ios") iOS
          option(value="and") Android
    div(class="form-section")
      label Is Registered?
      div(class="form-box")
        select(name="registered", class="select2", style="width:120px")
          option(value="all") All
          option(value="yes") Yes
          option(value="no") No
    div(class="form-section")
      label Attendee Type
      div(class="form-box")
        select(name="type", class="select2", style="width:340px")
          option(value="all") All
          option(value="360") 360
          option(value="connect") Connect
          //- option(value="360,connect") 360 & Connect
          //- option(value="friend") Friends & Family
          //- option(value="360,connect,friend") 360, Connect, Friends & Family
          option(value="staff") Staff
          option(value="ambassador") Ambassador
          option(value="staff,ambassador") Staff & Ambassador
    div(class="form-section")
      label Attending Event
      div(class="form-box")
        select(name="event_id", class="select2", style="width:540px", data-search="true") {{ events }}
    div(class="form-section")
      label Notification (Keep it short!)
      div(class="form-box")
        input(type="text", name="notification_text")
    div(class="form-section")
      label Linked Dispatch Post
      div(class="form-box")
        textarea(type="text", name="dispatch_text")
    div(class="clear")
    div(class="form-section")
      input(type="submit", value="Continue", class="button")
      div(id="notn-count-shell") This will be sent to
        br
        span(id="notn-count")
        | &nbsp;people
