div(id="places-admin-shell")
	nav(class="admin-nav")
		a(href="/admin/add-place", class="button") Add a Place
	h1 Places
	div(id="places-start", class="search-start")
		| Loading...
	table(id="places-shell", class="search-results-shell")
		tbody(id="places-results", class="search-results")
