div(id="racetasks-admin-shell")
	nav(class="admin-nav")
		a(href="/admin/add-racetask", class="button") Add a Task
	h1 Unconventional Race Tasks
	div(id="racetask-start", class="search-start")
		| Loading...
	table(id="racetask-shell", class="search-results-shell")
		tbody(id="racetask-results", class="search-results")
