div(id="user-manifest-shell")
	h2 Submission Rating
	div(id="rate-shell")
		div(id="rate-task")
			div(id="rate-attendee")
		div(class="rate-buttons")
			a(href="#", class="rate-button", data-rating="0") Skip
			a(href="#", class="rate-button", data-rating="-1") Not Relevant
			a(href="#", class="rate-button", data-rating="1") Acceptable
			a(href="#", class="rate-button", data-rating="2") Great
			a(href="#", class="rate-button", data-rating="4") Awesome!!!
		div(id="rate-content")
		div(class="rate-buttons")
			a(href="#", class="rate-button", data-rating="0") Skip
			a(href="#", class="rate-button", data-rating="-1") Not Relevant
			a(href="#", class="rate-button", data-rating="1") Acceptable
			a(href="#", class="rate-button", data-rating="2") Great
			a(href="#", class="rate-button", data-rating="4") Awesome!!!
		div(class="clear")
