div(id="manage_schedule", class="page")
	div(class="header")
		h1 Event Schedule
	div(class="content")
		div(class="button-container", style="width: 279px")
			a(href="#", id="userlist-upcoming", class="taplink hash:plans bright_btn btn hori_btn left_btn") Upcoming
			a(href="#", id="userlist-yours", class="taplink hash:yourPlans bright_btn btn hori_btn") Yours
			a(href="#", id="userlist-create", class="taplink hash:addAPlan bright_btn btn hori_btn right_btn hori_btn_selected") Create
		div(class="clear")
		h3(id="editPlanHead") Add a Plan
		div(class="inset-content info")
			p
				| Add an
				| a relaxing stroll or something in between.
			p
				| Concisely specify appropriate details and keep an eye on twitter
				| in case anyone has questions.
		form(id="addPlanShell", action="#", method="post")
			h3 Event Name
			div(class="form-row inset-content")
				input(type="text", id="plan-what", class="text")
			h3 Short Message (Use Sparingly)
			div(class="form-row inset-content")
				input(type="text", id="plan-place", class="text")
			div(class="form-row inset-content")
				input(type="text", id="plan-addr", class="text")
			h3 Type
			div(class="form-row inset-content")
				select(type="text", id="schedule-who", class="text")
			h3 Type
			div(class="form-row inset-content")
				input(type="text", id="plan-who", class="text")
			h3 When's it happening?
			div(class="form-row inset-content")
				div(id="plan-dateShell")
					select(id="plan-date")
						option(value="05") July 5th
						option(value="06") July 6th
						option(value="07") July 7th
				div(id="plan-hourShell")
					select(id="plan-hour")
						option(value="01") 01
						option(value="02") 02
						option(value="03") 03
						option(value="04") 04
						option(value="05") 05
						option(value="06") 06
						option(value="07") 07
						option(value="08") 08
						option(value="09") 09
						option(value="10") 10
						option(value="11") 11
						option(value="12") 12
					select(id="plan-minute")
						option(value="00") 00
						option(value="15") 15
						option(value="30") 30
						option(value="45") 45
					select(id="plan-pm")
						option(value="0") am
						option(value="12") pm
			h3 When is it ending?
			div(class="form-row inset-content")
				div(id="plan-dateShell")
					select(id="plan-date")
						option(value="05") July 5th
						option(value="06") July 6th
						option(value="07") July 7th
				div(id="plan-hourShell")
					select(id="plan-hour")
						option(value="01") 01
						option(value="02") 02
						option(value="03") 03
						option(value="04") 04
						option(value="05") 05
						option(value="06") 06
						option(value="07") 07
						option(value="08") 08
						option(value="09") 09
						option(value="10") 10
						option(value="11") 11
						option(value="12") 12
					select(id="plan-minute")
						option(value="00") 00
						option(value="15") 15
						option(value="30") 30
						option(value="45") 45
					select(id="plan-pm")
						option(value="0") am
						option(value="12") pm
			a(href="#", id="addPlanButton", class="btn bright_btn") Add Plan