div(id="speakers-admin-shell")
	nav(class="admin-nav")
		a(href="/admin/event-export", class="button") Export RSVPs
		a(href="/admin/add-event", class="button") Add a Event
	h1 WDS Schedule
	div(id="schedule-start", class="search-start")
		| Loading...
	table(id="schedule-shell", class="search-results-shell")
		tbody(id="schedule-results", class="search-results")
