div(id="transactions-shell")
	nav(class="admin-nav")
		a(href="/api/admin/transfer_export", class="button") Export to CSV
	h1 Transfers
	table(id="transfers-shell")
		thead(id="transfer-head")
			th Count
			th From
			th To
			th Date
		tbody(id="transfer-results")
