div(id="page_content")
	h2 WDS Academy
	div(class="attendee-avatar", style="background:url()")
	div(id="meetup-profile-map")
	div(id="meetup-address-overlay")
		div(id="meetup-time") {{ start_end }}
		div(id="meetup-address") {{ place }} - {{ address }}
			//- a(href="https://www.google.com/maps/preview?q={{ address }}", target="_blank") Directions
	h3 {{ what }}
	div(class="meetup-hosts")
	div(class="line-canvas")
	div(class="meetup-descr")
		p {{ descr }}
	div(class="line-canvas")
	div(class="meetup-who")
		h4 Attendees will learn
		div(class="meetup-who-content") {{ who }}
	div(class="line-canvas")
	div(class="ac-purchase-shell")
		a(href="#" class="academy-purchase-start rsvp-button" data-dorsvp="0" data-full_message="Academy Full" data-free_message="Claim Your Free Insider Access Seat" data-freemaxed_message="Insider Access Full" data-event_id="{{ event_id }}" data-start="Attend this Academy" data-logged_out="Attend this Academy" data-cancel="You're Attending!" data-type="academy") Attend this Academy
	div(class="line-canvas")
	div(class="meetup-host-details")
		h4 More about your hosts
		div(class="meetup-bios")
	div(id="meetup-attendees")
	div(class="line-canvas")
	div(id="meetup-dispatch-shell")
		h3 The {{ what_no_the }} Dispatch
		div(class="dispatch", data-channel_type="academy", data-channel_id='{{ event_id }}', data-placeholder="Share a message with the {{ what }}")
	script(type="text/javascript" src="https://js.stripe.com/v2/")
