div(id="page_content")
	h2 WDS Activities
	br
	h1 WDS Week Activities
	div(class="zig-zags_blue")
	p WDS is now a week-long gathering bringing together some of the most remarkable people from around the world. This means we have all-new activities and mini-events to create even more incredible memories together. 
	P The best part? As a WDS 360 and Connect ticket holder you get access to them all.
	p Below you can browse and RSVP to all of the official WDS Activities but please note that some activities are available on a first come, first serve basis. Please only RSVP if you're sure you'll attend (and unRSVP if you are unable to attend).
	div(class="line-canvas")
	div(id="meetup-list")
