div(id="page_content")
	h2 WDS Attendee Search
	div(id="attendee-search", class="search-shell", href="#")
		div(id="attendee-search-box")
			input(type="text", class="search-input", placeholder="Type Here to Search Attendees")
			div(class="search-results")

	div(class="clear")