sidebar: academies
icon: theater
photo_head: https://farm3.staticflickr.com/2031/5800591550_94fa52c7b4_b.jpg,https://farm8.staticflickr.com/7457/9226356063_2f05f24588_c.jpg,https://farm4.staticflickr.com/3680/9226354561_60e1c77986_c.jpg,https://farm8.staticflickr.com/7422/9226351955_26fafe47fe_c.jpg,https://farm3.staticflickr.com/2868/9229137606_aa502275bb_c.jpg,https://farm3.staticflickr.com/2317/5800027355_42530f678d_b.jpg,

#### In August 2016, a small army of remarkable people will converge on Portland, Oregon for a weekend of community strategizing, adventure, and service. This time, everything will be NEW, but our guiding question will be the same: How do we live a remarkable life in a conventional world?