div(id="page_content")
	h1 WDS {{ interest_name }} Community
	div(class="dispatch", data-channel_type="interest", data-channel_id="{{ interest }}", data-placeholder="Share a message about {{ interest_name }} with the WDS Community")
