div(id="page_content")
	h2 WDS Communities
	h3 Your Communities
	div(id="attendee-communities")

	div(class="clear")

	h3 Other Communities
	div(id="other-communities")

	div(class="clear")
	h3 Community Feed
	div(class="dispatch", data-channel_type="community")

