div(id="page_content")
	h1 Woah, you did it! You completed the Unconventional Treasure Hunt!
	p Congratulations! We hope you had a great time on the Unconventional Treasure Hunt.
	p Your points have been issued!