div(id="page_duo", class="page")
	a(id="write-save-button", class="button", href="#") 
		span(class="button-text") Save Draft
		span(class="dropdownarrow")
		span(class="dropdown-options")
			span(data-option="draft") Make Draft
			span(data-option="public") Publish
	div(id="post-stats")
	div(id="write-starter")
		form(method="post")
			textarea
	h2 Duos with <span class="with_name"></span>
	div(id="entries-shell")