div(id="pacts", class="page")
	div(class="left-sidebar", data-sidebar="events")
	div(class="main-content")
		h2 Welcome to ActionPact: Awesomeness Fest
		p.
			ActionPact allows you to create communities around
			<i>actions</i> you're taking from presentations you heard at
			Awesomness Fest
		p.
			Ready to get started?
		p.
			Click a link to the left and start
			joining some ActionPacts!

