div(id="page_content")
	div(id="event_types_list")
		a(href="/meetups", class="event-type-btn event-type-meetups")
			span Meetups
			div Informal hangouts and attendee-led gatherings
		a(href="/academies", class="event-type-btn event-type-academies")
			span Academies
			div Half-day workshops taught by alumni speakers and other experts
		a(href="/spark-sessions", class="event-type-btn event-type-spark-sessions")
			span Spark Sessions
			div Open-ended conversations on specific topics
		a(href="/activities", class="event-type-btn event-type-activities")
			span Activities
			div Special adventures just for WDS attendees