div(id="page_content")
	h2(id="header-title") 
		| Forgot Your Password?
	div(id="reset-shell")
		h3 Enter Your Email or Username
		p Enter your email or username below and we'll send you a link to reset your password
		form(action="#", method="post", id="reset-form")
			div(class="form-row")
				label E-Mail Address or Username
				input(type="text", name="username")
			div(class="form-row")
				input(type="submit", value="Send Reset E-Mail")
	div(id="reset-form-success")
		h3 Check your email!
		p We just sent you an email with a link that will allow you to reset your password
