div(class="break-header")
	h1(id="logo") Journaling is Better with a Friend
div(class="section-intro")
	| Writing a journal can be lonely.<br>
	| With Let's Duo, you can start a shared journal with one trusted friend.<br><br>
	| Create a safe space to reflect on your life and know somebody is listening.
a(href="/signup", id="button-signup", class="button centered-button") Start a Duo!

