h1(id="header-title") 
	| In July 2014, a small army of remarkable people
	| returned to Portland, Oregon for a weekend of
	span Strategizing and Adventure
		a(href="/register") Join Us in 2015?
	div(class="clear")
section(id="body-content")
	div(id="video-shell", class="link-block")
		div(id="video-underlay")
		div(id="video")
	div(id="wall-queue")
	div(id="waterfall")
		div(class="wall-section tpl-0")
			a(href="/register", class="waterfall-content link-block", id="reg-open")
				h3 Academies Regsitration is Open
				h4 The main stage event is sold out, but you can still join us…
			div(class="waterfall-flare waterfall-dots")
			a(href="/schedule", class="waterfall-content link-block", id="reg-schedule")
			a(href="#", class="waterfall-content link-block", id="reg-army")
			div(class="waterfall-content", id="reg-attendees")
			div(class="waterfall-content", id="reg-chris")
			a(href="/story", class="waterfall-content link-block", id="reg-story")
			a(href="/headquarters", class="waterfall-content link-block", id="reg-headquarters")
			div(class="wall-content", data-type="attendee_answer", data-question="1", data-maxchars="answer:180")
			a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
			div(class="wall-content", data-type="icon")
			div(class="wall-content", data-type="icon")
			div(class="wall-content", data-type="icon")
			div(class="wall-content", data-type="icon")

	//- Add a template here to enter it into the random display
	div(id="wall-tpls")
		div(class="tpl")
			div(class="wall-section tpl-1")
				div(class="wall-content", data-type="icon")
				a(class="wall-content", data-type="speaker")
				a(class="wall-content", data-type="attendee", data-atn_form="envelope")
				div(class="wall-content", data-type="icon")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="flickr_stream", data-orientation="portrait")
				a(class="wall-content", data-type="speaker_quote", data-maxchars="quote:120")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="attendee_map")
				div(class="wall-content", data-type="icon")
				div(class="wall-content", data-type="featured_tweet", data-maxchars="tweet:90")
		div(class="tpl")
			div(class="wall-section tpl-2")
				a(class="wall-content", data-type="attendee_map", data-max="distance:1000")
				div(class="wall-content", data-type="featured_tweet")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				div(class="wall-content", data-type="icon")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="speaker")
				a(class="wall-content", data-type="attendee_answer", data-question="1", data-maxchars="answer:180")
		div(class="tpl")
			div(class="wall-section tpl-3")
				a(class="wall-content", data-type="attendee", data-atn_form="box")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="speaker")
				div(class="wall-content", data-type="icon")
				div(class="wall-content", data-type="icon")
				div(class="wall-content", data-type="featured_tweet")
				a(class="wall-content", data-type="flickr_stream", data-orientation="portrait")
				a(class="wall-content", data-type="speaker_quote", data-maxchars="quote:200")
				a(class="wall-content", data-type="attendee_map")
				div(class="wall-content", data-type="icon")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
		div(class="tpl")
			div(class="wall-section tpl-4")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="attendee_map")
				div(class="wall-content", data-type="icon")
				a(class="wall-content", data-type="flickr_stream", data-orientation="portrait")
				div(class="wall-content", data-type="featured_tweet")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="attendee_answer", data-question="1", data-maxchars="answer:135")
				a(class="wall-content", data-type="attendee_map", data-max="distance:800")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="flickr_stream", data-orientation="landscape")
				a(class="wall-content", data-type="speaker")
				div(class="wall-content", data-type="icon")

	div(id="block-tpls")
		div(class="tpl", data-type="featured_tweet")
			div(class="tweet-content")
				div(class="tweet-avatar", style="background:url({{ tweeter_img }})")
				div(class="tweet") {{ tweet }}
				div(class="tweet-by") tweeted by @{{ tweeter }}

		div(class="tpl", data-type="flickr_stream")
			div(class="flickr-photo", style="background:url({{ the_img_med }})", data-url="{{ the_img_med }}")

		div(class="tpl", data-type="icon")

		div(class="tpl", data-type="attendee")
			div(class="block-content")
				div(class="pattern-bg")
					span {{ first_name }} {{ last_name }} 
					| is traveling 
					b {{ distance }} 
					| miles to WDS 2015

		div(class="tpl", data-type="attendee_map")
			div(class="block-content")
				div(class="attendee_map_text")
					span {{ first_name }} {{ last_name }} 
					| is traveling 
					b {{ distance }} 
					| miles to WDS 2015!
				div(class="attendee_map")

		div(class="tpl", data-type="speaker")
			div(class="speaker-photo", style="background:url({{ display_avatar }})")
			div(class="speaker-name") {{ display_name }}
			div(class="speaker-year") WDS {{ year }}

		div(class="tpl", data-type="attendee_answer")
			div(class="block-content")
				div(class="answer-avatar", style="background:url({{ pic }})")
				span {{ pre_name }}{{ first_name }} {{ last_name }}{{ post_name }}
				div(class="answer") {{ answer }}

		div(class="tpl", data-type="race")
			div(class="block-content")
				div(class="race-title") Unconventional Race Standings
				div(class="ranks") {{ html }}

		div(class="tpl", data-type="speaker_quote")
			div(class="block-content")
				div(class="speaker-quote") {{ quote }}
				div(class="speaker-name") {{ display_name }}
				div(class="speaker-year") WDS {{ year }}

		div(class="tpl", data-type="speaker_quote_photo")
			div(class="block-content")
				div(class="speaker-photo", style="background:url({{ speaker_img }})")
				div(class="speaker-quote") {{ quote }}
				div(class="speaker-name") {{ speaker }}
				div(class="speaker-year") WDS {{ year }}
