div(id="page_content")
	h2 The Attendee Hub

	div(class="if-mobile", id="hub-buttons")
		a(id="hub-button-phone-notifications", href="/notifications", class="hub-button") Notifications
			div(class="hub-notification-count")
		a(id="hub-button-search", href="/attendees", class="hub-button") Attendee Search
		a(id="hub-button-schedule", href="/your-schedule", class="hub-button") Your Schedule
		//-a(id="hub-button-meetups", href="/meetups", class="hub-button") Meetups
		//-a(id="hub-button-race", href="/race", class="hub-button") Unconventional Race
		a(id="hub-button-dispatch", href="/the-dispatch", class="hub-button") The Dispatch
		a(id="hub-button-tablet-notifications", href="/notifications", class="hub-button") 
			span No New Notifications
			div(class="hub-notification-count")
		div(class="clear")


	div(id="dispatch-shell")
		h3 Your Dispatch
		div(class="dispatch dispatch-filters-on", data-channel_type="global", data-desktop_only="true")

	div(id="happening-shell")
		a(href="#", id="checkin-button")
			span Check-In!
		h3(id="happening-now-heading") Happening
			br
			| Now
		div(id="happening-msg") Looking for the action? Here's where WDSers are right now.
		div(id="happening-list")

	div(id="check-in-modal")
		div(id="check-in-locating")
			| Checking Your Location...
		div(id="check-in-places")
			
