div(id="create", class="page")
	div(class="left-sidebar", data-sidebar="signup")
	div(class="main-content")
		div(id="duo-invite-shell")
			div(id="duo-invite-email-shell")
				h2 Ok, let's invite <span class="new-invitee-name"></span>.
				p Enter <span class="new-invitee-name"></span>'s email below and we'll send an invite!
				form(id="invite-form", action="post")
					div(class="field-row")
						div(class="field-box")
							input(type="text", class="text", name="email", placeholder="Their E-Mail Address")
					div(class="field-row")
						div(class="field-box")
							input(type="submit", class="button", name="submit", value="Send the Invite!")
				div(class="safe-text")
					| We won't save their e-mail address unless they sign-up.
			div(id="invite-success")
				h2 Your invite was sent!
				p Success! We sent an invite to <span class="new-invitee-name"></span> for you.
				p You can still directly send them the URL below if you'd like.
			h2 Or, you can send the link yourself
			p You can also just send them to this URL yourself
			input(id="new-duo-invite-url", type="text", class="text")
			h2 You're all set!
			p Once <span class="new-invitee-name"></span>'s invited, you're ready to get started.
			a(href="/", id="button-go-to-duos", class="button") Go to Your Duos
