div(id="page_cmtntent")
	h2 WDS Official Meetup
	div(class="attendee-avatar", style="background:url()")
	div(id="meetup-profile-map")
	div(id="meetup-address-overlay") 
		div(id="meetup-time", class="format-time", data-format="MMMM Do [at] h:mm a") {{ start }}
		div(id="meetup-address") {{ place }} - {{ address }} - 
			a(href="https://www.google.com/maps/preview?q={{ address }}", target="_blank") Directions
	h3 {{ what }}
	div(class="meetup-who")
		| A meetup for {{ who }}
	div(class="meetup-hosts")
	div(class="line-canvas")
	div(class="meetup-descr")
		p {{ descr }}
	div(id="meetup-attendees")
	div(class="line-canvas")
	div(id="meetup-dispatch-shell")
		h3 The {{ what }} Dispatch
		div(class="dispatch", data-channel_type="meetup", data-channel_id='{{ event_id }}', data-placeholder="Share a message with the {{ what }}")
