div(id="page_content")
	h2 WDS Official Meetups
	br
	h1 Attendee-Lead Meetups Have Been a Staple of WDS Since Our First Year. In 2014, They're Back and Better than Ever
	div(class="zig-zags_blue")
	p Below you can browse all of the official WDS Attendee-lead meetups and RSVP to those you're interested in.
	p We'll continue to approve meetup proposals as they're submitted so check back for new additions.
	p Interested in hosting your own meetup? 
		a(href="/propose-a-meetup") Click here.
	div(class="line-canvas")
	div(id="meetup-list")