div(id="page_content")
	h2 Unconventional Race
	br
	div(id="race-user-status")
		div(id="your-points")
				label Your Points
				span {{ points }}
		div(id="your-rank") 
			label Your Rank
			span {{ rank }}
	div(id="race-buttons")
		a(href="/race-guide") How to Play Guide
		a(href="/ranks") Current Standings
	br
	br
	h1 Race Challenges
	div(class="zig-zags_blue")
	h3 Before Arriving
	div(class="tasks-label")
		span(class="points-label") Points
		span(class="tasks-label") Task
	div(id="race-task-list")