div(id="page_content")
	h2(id="header-title") 
		| Reset Your Password
	div(id="reset-shell")
		h3 Enter a New Password
		p Enter the new password you want below.
		form(action="#", method="post", id="reset-form")
			div(class="form-row")
				label New Password
				input(type="password", name="password")
			div(class="form-row")
				input(type="submit", value="Update Password")
	div(id="reset-form-success")
		h3 Your password is updated!
		p Your password was all updated. 
			a(href="/login") Click here to login
			| .
