div(id="page_content")
	h2(id="header-title")
		| Transfer Status
	div(class="transfer-success")
		h3 Transfer Complete!
		p Your payment was successful and your ticket was transferred to&nbsp;
			span(class="new-attendee")
			| !
		p All the information they need to get setup was emailed to them so nothing else is required on your part.
		p We're sorry you can't make it but hope to see you next year!
