div(id="page_content")
	h2(id="header-title") 
		| Transfer Status
	div(class="transfer-problem transfer-status")
		h3 Uh oh...
		p Unfortunately it appears that there was a problem with your transfer, so sorry about that!
		p If you're sure your payment processed, please email team@wds.fm.
		p If your payment hasn't gone through it may just be a PayPal problem so give it another try!

	div(class="transfer-waiting transfer-status")
		h3 Hang tight!
		p Just a sec while we verify your payment! (This page will update automatically)

	div(class="transfer-success")
		h3 Transfer Complete!
		p Your transfer was successfully transferred to 
			span(class="new-attendee")
			| !
		p All the information they need to get setup was emailed to them so nothing else is required on your part.
		p We're sorry you can't make it but hope to see you next year!
