 @font-face {font-family: "Vitesse"; src: url("/fonts/Vitesse-Medium.otf") format("opentype");}
 @font-face {font-family: "VitesseLight"; src: url("/fonts/Vitesse-Light.otf") format("opentype");}
 @font-face {font-family: "VitesseBold"; src: url("/fonts/Vitesse-Bold.otf") format("opentype");}
 @font-face {font-family: "VitesseBook"; src: url("/fonts/Vitesse-Book.otf") format("opentype");}
 @font-face {font-family: "Populaire"; src: url("/fonts/Populaire.otf") format("opentype");}
 @font-face {font-family: "Karla"; src: url("/fonts/Karla-Regular.ttf") format("truetype");}
 @font-face {font-family: "KarlaBold"; src: url("/fonts/Karla-Bold.ttf") format("truetype");}
 @font-face {font-family: "KarlaItalic"; src: url("/fonts/Karla-Italic.ttf") format("truetype");}
