div#search_start table th {
    text-align:                 left;
    padding:                    7px;
}
input#register_search {
    width:                      100%;
    margin-bottom:              40px;
    font-size:                  14pt;
    padding:                    14px 17px;
}
div#search_start {
    text-align:                 center;
}
div.search-row {
    padding:                    12px 0px;
}
div#search-results {
    position:                   relative;
    top:                        -30px;
}
#search_start table {
    width:                      80%;
    margin:                     0px auto;
}
header#main-header {
    margin:                     0px;
}
#page_content h3 {
    margin-top:                 0px;
}
* {
    line-height:                inherit;
}