
@font-face {font-family: "Karla"; src: url("https://worlddominationsummit.com/fonts/Karla-Regular.ttf") format("truetype");}
#logo a
{
	background-image:url(http://gdurl.com/78Gg);
	min-height:0;
	height:150px;
}

#header {
	display:;
}
* html #logo a
{
    background-image:url(http://gdurl.com/78Gg);
    min-height: 0;
    height: 150px;
}

#container, html.embed
{
	background-color:#FFFFFF !important;
}
html
{
	background-image:none;
}
.wufoo {
	font-family:karla !important;
}

#logo
{
	background-image:none;
	background-color:#690;
}
.wufoo li.focused {
	background-color: transparent;
}

textarea.textarea {
	width: 520px !important;
	max-width: 520px !important;
}

#container
{
	border:0 solid #ccc;
}

.wufoo input.text,.wufoo textarea.textarea
{
	background:#FFF url(/images/fieldbg.gif) repeat-x top;
}

.wufoo .focused
{
	background:#FFF7C0;
}

.wufoo .instruct
{
	background-color:#F5F5F5;
	border:1px solid #e6e6e6;
	font-size:80%;
	font-family:inherit;
	color:#444;
}

.wufoo .info
{
	border-bottom:1px dotted #CCC;
}

.wufoo .info h2
{
	font-size:120%;
	font-family:inherit;
	color:#000;
}

.wufoo .section h3
{
	font-size:150%;
	font-family:inherit;
	background:#FFF;
	color:#000;
}

.wufoo .section div
{
	font-size:100%;
	font-family:inherit;
	color:#444;
}

.wufoo li div,.wufoo li div label,.wufoo li span label
{
	font-family:inherit;
}

form li.error {
	width: 520px !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice {
    background:                 none repeat scroll 0px 0px rgb(242, 242, 234);
    border:                     0px none;
    width:                      300px;
    padding:                    9px;
    color:                      rgb(33, 23, 10);
    font-family:                karla ! important;
    font-size:                  14pt;
}
.wufoo .btTxt {
	 border:                     0px none;
    padding:                    8px 40px;
    color:                      rgb(255, 255, 255);
    background:                 none repeat scroll 0px 0px rgb(226, 127, 28);
    cursor:                     pointer;
    font-family:                karla;
    text-decoration:            none;
    font-size:                  16px;
}
.req {
	display:none !important;
}

.wufoo label.choice
{
}

.wufoo .info div,.wufoo label.desc,.wufoo legend.desc, .wufoo li.focused label.desc
{
	font-size:10pt;
	font-family:inherit;
	width:520px !important;
	font-weight: normal;
	color: #0073AD;
}
