doctype html
html(lang='en')
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		//- meta(name='apple-mobile-web-app-capable', content='yes')
		meta(charset="UTF-8")
		script.
			var ap = {};
			ap.authd = #{authd};
			ap.env = !{env};
		link(rel='stylesheet', href='/images/apple-icon.png')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/styles.css')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/fonts.css')
		//- link(rel='stylesheet', type="text/css", href='/assets/css/tablet.css', media='screen and (max-width:1024px) and (min-width:628px)')
		!= js('main')
		script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?sensor=false&ver=3.7.1")
	body(class='ui-body-a')
		div(class="preload")
		nav(id="top-nav")
			div(class="contentainer")
				div(id="nav-links")
					a(href="/story") Story
					a(href="/schedule") Schedule
					a(href="/headquarters") Headquarters
					a(href="/Register") Register
		header(id="main-header")
			span(id="long-squiggly")
			div(class="contentainer")
				a(href="/", id="logo")
				div(id="counter-shell")
					h6 The Revolution Returns In:
					div(class="clear")
					div(id="counter-plane")
					div(id="counter-days", class="counter-section")
						span Days
						div 365
					div(id="counter-hours", class="counter-section")
						span Hour 
						div 23 
					div(id="counter-mins", class="counter-section")
						span Min 
						div 59 
					div(class="clear")
					a(id="counter-register", class="counter-button" href="/register") Register
					a(id="counter-login", class="counter-button", href="/login") Login

		main(class="contentainer")
			section(id="sidebar-shell")
			!= body