doctype html
html(lang='en')
	head
		title= title
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="/app/assets/css/styles.css")
		link(rel="stylesheet" type="text/css" href="/app/assets/css/fonts.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(type="text/javascript").
			var rsp = !{rsp};
			if (rsp) {
				parent.ap.race_submission_success(rsp)
			}
			$(function(){
				$("#file-upload-button").change(function () {
					var fileName = $(this).val().replace('C:\\fakepath\\', '');
					$("#file-upload-filename").html(fileName);
					$('.photo-submit').show()
				});
			});
	body(class='ui-body-a', style="background:#FFFFFF !important")
		form(action="/api/user/task", id="race_form", enctype="multipart/form-data", method="post")
			div(class="file-upload-container")
				div(class="file-upload-override-button left")
					| Choose file
					input(id="file-upload-button", class="file-upload-button", type='file', name='pic')
				div(id="file-upload-filename", class="file-upload-filename left") No file selected
				div(class="both")
			input(type="hidden", name="user_id", id="task_user_id")
			input(type="hidden", name="cur_points", id="task_cur_points")
			input(type="hidden", name="slug", id="task_slug")
			input(type="hidden", name="task_id", id="task_id")
			input(class="photo-submit", id="task_upload", type='submit', value='Upload Photo')