html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='description', content='WDS is a worldwide gathering of remarkable people. Every summer we meet in Portland, Oregon for a weeklong experience focused on community, adventure, and service.')
		meta(name='keywords', content='Community,Service,Adventure,World Domination Summit,WDS')
		link(rel="icon", type="image/png", href="/images/favicon.png")
		//- meta(name='apple-mobile-web-app-capable', content='yes')
		meta(charset="UTF-8")
		script.
			var ap = {};
		//-link(rel='stylesheet', href='/images/apple-icon.png')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/styles.css')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/register.css')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/fonts.css')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/tablet.css', media='screen and (max-width:1024px)')
		!= js('registration')
	body(class='ui-body-a')
		nav(id="reg-nav")
			a(href="#", class="go-home")
			h3 WDS Registration App
		main(class="contentainer")
			div(id="content_shell")
				div(id="page_content")
					div(id="rp-home", class="reg-page-nav reg-panel reg-panel-active")
						a(href="#", data-event_id="1") 360/Connect
						a(href="#", data-page="academies") Academies
						a(href="#", data-page="activities") Activities
						a(href="#", data-event_id="999999") Kindness
						a(href="#", data-page="stats", class="low-profile") Stats
					div(id="rp-academies", class="reg-panel")
						div(id="academy-list", class="reg-page-nav")
					div(id="rp-activities", class="reg-panel")
						div(id="activity-list", class="reg-page-nav")
					div(id="rp-search", class="reg-panel")
						h4(class="active-event")
						div(id="input-shell")
							input(type="text", id="register_search", placeholder="Type Here to Search for an Attendee")
							a(href="#", id="clear-inp")
						div(id="search-results")
						div(id="search_start", class="srch_msg")
					div(id="rp-stats", class="reg-panel")
						table
							tr
								th Registrations on this Device - Past 60 min
								td(id="device_reg_hour") -
							tr
								th Registrations on this Device - All-time
								td(id="device_reg_all") -
							tr
								th Total Registrations - Past 60 min
								td(id="total_reg_hour") Offline
							tr
								th Total Registrations - All-time
								td(id="total_reg_all") Offline
							tr
								th Unsynced Changes
								td(id="unsynced") -
							tr
								th Next Sync In
								td(id="next_sync") -