doctype html
html(manifest="/app/assets/cache/registrationv3.manifest")
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='description', content='WDS is a worldwide gathering of remarkable people. Every summer we meet in Portland, Oregon for a weeklong experience focused on community, adventure, and service.')
		meta(name='keywords', content='Community,Service,Adventure,World Domination Summit,WDS')
		link(rel="icon", type="image/png", href="/images/favicon.png")
		//- meta(name='apple-mobile-web-app-capable', content='yes')
		meta(charset="UTF-8")
		script.
			var ap = {};
		//-link(rel='stylesheet', href='/images/apple-icon.png')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/styles.css')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/register.css')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/fonts.css')
		link(rel='stylesheet', type="text/css", href='/app/assets/css/tablet.css', media='screen and (max-width:1024px)')
		!= js('registration')
		script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?sensor=false&ver=3.7.1")
	body(class='ui-body-a')
		main(class="contentainer")
			div(id="content_shell")
				div(id="page_content")
					h3 WDS Registration App
					input(type="text", id="register_search", placeholder="Type Here to Search for an Attendee")
					div(id="search-results")
					div(id="search_start", class="srch_msg")
						table
							tr
								th Registrations on this Device - Past 60 min
								td(id="device_reg_hour") -
							tr
								th Registrations on this Device - All-time
								td(id="device_reg_all") -
							tr
								th Total Registrations - Past 60 min
								td(id="total_reg_hour") Offline
							tr
								th Total Registrations - All-time
								td(id="total_reg_all") Offline
							tr
								th Unsynced Changes
								td(id="unsynced") -
							tr
								th Next Sync In
								td(id="next_sync") -