doctype html
html(lang='en')
	head
		title= title
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="/app/assets/css/fonts.css")
		style(type="text/css")
			div {
				text-align: center;
				padding: 60px 0;
			}
			.wds {
				font-size:124pt;
				font-family: vitessebold;
			}
			.race{
				font-size:20pt;
				font-family: vitesse;
			}
			.award-name {
				font-family: populaire;
				font-size:38pt;
				font-weight:bold
			}
	body(class='ui-body-a', style="background:#FFFFFF !important")
		div(class="wds") WDS 
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-div(class="wds") WDS 2014
		//-//-//-div(class="race") Unconventional Race
		//-//-div(class="race") Unconventional Race
		//-//-div(class="race") Unconventional Race
		//-//-div(class="race") Unconventional Race
		//-//-div(class="race") Unconventional Race
		//-//-div(class="race") Unconventional Race
		//-//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="race") Unconventional Race
		//-div(class="award-name") Most Outrageous Photo
		//-div(class="award-name") Most Outrageous Photo
		//-div(class="award-name") Most Outrageous Photo
		//-div(class="award-name") Most Outrageous Photo
		//-div(class="award-name") Most Outrageous Photo
		//-div(class="award-name") Most Creative Photo
		//-div(class="award-name") Most Creative Photo
		//-div(class="award-name") Most Creative Photo
		//-div(class="award-name") Most Creative Photo
		//-div(class="award-name") Most Creative Photo
		//-div(class="award-name") 1st Place
		//-div(class="award-name") 1st Place
		//-div(class="award-name") 1st Place
		//-div(class="award-name") 1st Place
		//-div(class="award-name") 1st Place
		//-div(class="award-name") 2nd Place
		//-div(class="award-name") 2nd Place
		//-div(class="award-name") 2nd Place
		//-div(class="award-name") 2nd Place
		//-div(class="award-name") 2nd Place
		//-div(class="award-name") 2nd Place
		//-//-div(class="award-name") 3rd Place
		//-div(class="award-name") 3rd Place
		//-div(class="award-name") 3rd Place
		//-div(class="award-name") 3rd Place
		//-div(class="award-name") 3rd Place
		//-div(class="award-name") 3rd Place
//-//-